
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
</head>
<body>

  <%-include('../layout/header.ejs')%> 

<div class="container mt-3">
  <h1>로그온</h1>

  <div class="input-group mb-3">
    <input type="text" class="form-control" id="userid" placeholder="아이디" name="userid">
  </div>

  <div class="input-group mb-3">
    <input type="password" class="form-control" id="password" placeholder="패스워드"name="password">
  </div>


  
  	<div class="container" style="text-align:right">
	 
	  <div class="btn-group">
	    
       <button type="button" class="btn btn-primary" id="btnLogon">로그온</button>&nbsp;&nbsp;
      
	    <button type="button" class="btn btn-primary" id="goCancel()">취소</button>&nbsp;&nbsp;
	  </div>
	</div>
</form>	
</div>

</body>
</html>

<script>

$(document).ready(()=>{
  $("#btnLogon").click(goLogon)
  //goLogon() : 함수의 결과값 반환. 소괄호 생략시 주소만 전달.
  $("#btnCancel").click(goCancle)


    $("#sessionCheck").click(()=>{ //button id 수정해야 사용가능.
      let params=$("#myform").serialize(); //파일전송 시 사용.
      let userid = $("#userid").val();
      let password = $("#password").val();
      $.ajax({
        url:"/member/sessionCheck",
        data:{
          userid:userid,
          password:password
        },
        method:"post",
        dataType:"json"
      }).then((result)=>{
          alert(`로그온 성공. ${result.usernameA}님 환영합니다.`)
      }).catch((res, status,error)=>{
          alert("로그온 실패")
      });
    });



  });


  function goLogon(){
    $.ajax({
      url:"/member/login",
      data:{userid:$("#userid").val(),password:$("#password").val()},
      dataType:"json",
      method:"post"
    }).done((res)=>{
      console.log(res.result)
      if(res.result=="success"){
        alert(res.msg)
        location.href="/";
      }else{
        alert(res.msg)
      }
    }).fail((res,status,error)=>{
      console.log(status)
    })
  }


</script>